{% load static %}
{% load widget_tweaks %}

<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="FileUpload">
        <div class="wrapper">
            <div class="upload">
                <!-- <p>Drag files here or <span class="upload__button">Browse</span> </p> -->
                {% render_field imageform.image %} <br><br>
            </div>
            <div class="upload">
                {% render_field imageform.algorithm %} <br><br>
            </div>
            <div class="upload">
                {% render_field imageform.recovery_key %} <br><br>
            </div>
            <div class="upload">
                <input type="submit" value="Submit" id="submit_id">
            </div>  

        </div>
    </div>
</form>

</html>